@import "tailwindcss";
h1, h2 {
  font-family: var(--heading);
  font-weight: 500;
}
code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
